Repository OpenCTI-Platform/connectors, pull requests merged in 2025-10, with the labels that each got.

#4716 [ExportTTP] Now properly raise an error when an export other than single is asked
  internal-export-file/export-ttps-file-navigator/src/export-ttps-file-navigator.py
Labels: filigran team

#4876 [Recorded Future] crash since 6.8.1 (#4871)
  external-import/recorded-future/docker-compose.yml
  external-import/recorded-future/src/config.yml.sample
  external-import/recorded-future/src/main.py
  external-import/recorded-future/src/models/configs/config_loader.py
  external-import/recorded-future/src/models/configs/recorded_future_configs.py
Labels: bug, filigran team, critical, connector: recorded future

#4874 [Recorded Future Enrichment] Fix Notes imported during vulnerability enrichment
  internal-enrichment/recordedfuture-enrichment/src/rflib/use_cases/enrich_vulnerability.py
Labels: bug, filigran team, tiny, connector: recorded future enrichment

#4867 [Recorded Future Enrichment] Fix TLP Markings
  internal-enrichment/recordedfuture-enrichment/src/rflib/rf_connector.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/use_cases/enrich_vulnerability.py
  internal-enrichment/recordedfuture-enrichment/tests/test_rflib/test_use_cases/test_enrich_vulnerability.py
Labels: bug, filigran team, connector: recorded future enrichment

#4196 [SOCRadar] Update legacy code
  external-import/socradar/.dockerignore
  external-import/socradar/.env.sample
  external-import/socradar/Dockerfile
  external-import/socradar/README.md
  external-import/socradar/docker-compose.yml
  external-import/socradar/entrypoint.sh
  external-import/socradar/requirements.txt
  external-import/socradar/src/config.yml.sample
  external-import/socradar/src/lib/__init__.py
  external-import/socradar/src/lib/api_client.py
  external-import/socradar/src/lib/config_loader.py
  external-import/socradar/src/lib/converter_to_stix.py
  external-import/socradar/src/lib/radar.py
  external-import/socradar/src/main.py
Labels: filigran team, filigran verify, connector: soc radar

#4296 [MISP] Refacto and fix multiple issues
  external-import/misp/docker-compose.yml
  external-import/misp/src/api_client/__init__.py
  external-import/misp/src/api_client/client.py
  external-import/misp/src/api_client/models.py
  external-import/misp/src/config.yml.sample
  external-import/misp/src/connector/__init__.py
  external-import/misp/src/connector/config_loader.py
  external-import/misp/src/connector/threats_guesser.py
  external-import/misp/src/connector/use_cases/__init__.py
  external-import/misp/src/connector/use_cases/common.py
  external-import/misp/src/connector/use_cases/convert_attribute.py
  external-import/misp/src/connector/use_cases/convert_event.py
  external-import/misp/src/connector/use_cases/convert_event_report.py
  external-import/misp/src/connector/use_cases/convert_galaxy.py
  external-import/misp/src/connector/use_cases/convert_object.py
  external-import/misp/src/connector/use_cases/convert_tag.py
  external-import/misp/src/connector/use_cases/utils.py
  external-import/misp/src/misp.py
  external-import/misp/src/requirements.txt
Labels: filigran team, connector: misp

#4890 [connector-sdk] Standardize Pydantic model syntax
  connectors-sdk/connectors_sdk/models/octi/_common.py
  connectors-sdk/connectors_sdk/models/octi/activities/analyses.py
  connectors-sdk/connectors_sdk/models/octi/activities/observations.py
  connectors-sdk/connectors_sdk/models/octi/knowledge/arsenal.py
  connectors-sdk/connectors_sdk/models/octi/knowledge/entities.py
  connectors-sdk/connectors_sdk/models/octi/knowledge/locations.py
  connectors-sdk/connectors_sdk/models/octi/knowledge/techniques.py
  connectors-sdk/connectors_sdk/models/octi/knowledge/threats.py
  connectors-sdk/connectors_sdk/models/octi/relationships.py
  connectors-sdk/connectors_sdk/models/octi/settings/taxonomies.py
Labels: filigran team, connectors-sdk

#4893 [recorded-future] Exception when processing certain Analyst Notes
  external-import/recorded-future/src/rflib/rf_to_stix2.py
Labels: filigran team

#4843 [abuseipdb-ipblacklist] fix discrepancy between observable and indicator scores (#4783)
  external-import/abuseipdb-ipblacklist/src/external_import_connector/connector.py
  external-import/abuseipdb-ipblacklist/src/external_import_connector/converter_to_stix.py
  external-import/abuseipdb-ipblacklist/tests/__init__.py
  external-import/abuseipdb-ipblacklist/tests/conftest.py
  external-import/abuseipdb-ipblacklist/tests/test-requirements.txt
  external-import/abuseipdb-ipblacklist/tests/test_connector.py
Labels: filigran team, connector: abuseipdb-blacklist
