Repository OpenCTI-Platform/connectors, pull requests merged in 2025-09, with the labels that each got.

#4582 [greynoise] Composer manifest fixes
  external-import/greynoise-feed/__metadata__/connector_manifest.json
Labels: filigran team, connector: composer

#4587 [ipinfo] update manifest
  internal-enrichment/ipinfo/__metadata__/connector_manifest.json
Labels: filigran team, connector: composer

#4581 [flashpoint]: fix flashpoint manifest name and description
  external-import/flashpoint/__metadata__/connector_manifest.json
Labels: filigran team, connector: composer

#4577 [IpInfo] Invalid message when a bad API Token is configured
  internal-enrichment/ipinfo/src/__main__.py
  internal-enrichment/ipinfo/src/models/configs/config_loader.py
  internal-enrichment/ipinfo/src/models/configs/connector_configs.py
Labels: filigran team

#4407 [RecordedFuture-Enrichment] Add related STIX entities during Vulnerability enrichment
  internal-enrichment/recordedfuture-enrichment/.env.sample
  internal-enrichment/recordedfuture-enrichment/README.md
  internal-enrichment/recordedfuture-enrichment/docker-compose.yml
  internal-enrichment/recordedfuture-enrichment/src/config.yml.sample
  internal-enrichment/recordedfuture-enrichment/src/main.py
  internal-enrichment/recordedfuture-enrichment/src/requirements.txt
  internal-enrichment/recordedfuture-enrichment/src/rf_client/__init__.py
  internal-enrichment/recordedfuture-enrichment/src/rf_client/api_client.py
  internal-enrichment/recordedfuture-enrichment/src/rf_client/models.py
  internal-enrichment/recordedfuture-enrichment/src/rf_client/utils.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/__init__.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/config_loader.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/rf_connector.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/rf_to_stix2.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/rf_utils.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/use_cases/enrich_observable.py
  internal-enrichment/recordedfuture-enrichment/src/rflib/use_cases/enrich_vulnerability.py
  internal-enrichment/recordedfuture-enrichment/tests/.env.test
  internal-enrichment/recordedfuture-enrichment/tests/config.test.yml
  internal-enrichment/recordedfuture-enrichment/tests/conftest.py
  internal-enrichment/recordedfuture-enrichment/tests/data_samples/vulnerability_enrichment.json
  internal-enrichment/recordedfuture-enrichment/tests/test-requirements.txt
  internal-enrichment/recordedfuture-enrichment/tests/test_rflib/conftest.py
  internal-enrichment/recordedfuture-enrichment/tests/test_rflib/test_config_loader.py
  internal-enrichment/recordedfuture-enrichment/tests/test_rflib/test_use_cases/test_enrich_vulnerability.py
Labels: filigran team, recorded future

#4607 [Ransomware Live] Add fromisoformat for last_run_with_ingested_data
  external-import/ransomwarelive/src/ransomwarelive/ransom_conn.py
Labels: bug, filigran team, ransomware live

#4636 [Doppel] Remove request recursion on pagination
  external-import/doppel/src/doppel/client_api.py
Labels: bug, filigran team, tiny

#4642 [composer] fix cve manifest name
  external-import/cve/__metadata__/connector_manifest.json
Labels: filigran team, connector: composer

#4264 [CrowdSec]: Add external import connector (v1.0.0)
  external-import/crowdsec/.dockerignore
  external-import/crowdsec/.flake8
  external-import/crowdsec/Dockerfile
  external-import/crowdsec/README.md
  external-import/crowdsec/docker-compose.yml
  external-import/crowdsec/entrypoint.sh
  external-import/crowdsec/src/config.yml.sample
  external-import/crowdsec/src/crowdsec/__init__.py
  external-import/crowdsec/src/crowdsec/client_api.py
  external-import/crowdsec/src/crowdsec/config_loader.py
  external-import/crowdsec/src/crowdsec/connector.py
  external-import/crowdsec/src/crowdsec/converter_to_stix.py
  external-import/crowdsec/src/crowdsec/utils.py
  external-import/crowdsec/src/main.py
  external-import/crowdsec/src/requirements.txt
  external-import/crowdsec/tests/__init__.py
  external-import/crowdsec/tests/conftest.py
  external-import/crowdsec/tests/resources/config-test.yml
  external-import/crowdsec/tests/resources/malicious_ip.json
  external-import/crowdsec/tests/resources/observable.json
  external-import/crowdsec/tests/resources/stix_observable.json
  external-import/crowdsec/tests/test-requirements.txt
  external-import/crowdsec/tests/test_builder.py
Labels: partner, new, filigran verify

#4610 [composer] Remove connector_id from schema generation
  shared/tools/composer/generate_connectors_config_json_schemas.py.sample
Labels: filigran team, connector: composer

#4632 [composer] encode connectors logo in base64 in final manifest (#4627)
  shared/tools/composer/generate_connectors_manifest.py
Labels: filigran team, connector: composer

#4657 [CVE] Update extra allow parameter pydantic settings
  external-import/cve/src/models/configs/base_settings.py
  external-import/cve/src/models/configs/config_loader.py
  external-import/cve/src/models/configs/connector_configs.py
  external-import/cve/src/models/configs/cve_configs.py
  external-import/cve/src/requirements.txt
Labels: bug, filigran team, critical, CVE, connector: composer

#4654 [ransomware live] Disable raise_for_status to prevent dns crashes
  external-import/ransomwarelive/src/ransomwarelive/utils.py
Labels: bug, filigran team, ransomware live

#4722 [composer] migrate Sekoia scope configuration from str to ListFromString
  external-import/sekoia/src/connector/models/configs/config_loader.py
  external-import/sekoia/src/connector/models/configs/connector_configs.py
  external-import/sekoia/src/requirements.txt
Labels: filigran team, connector: composer

#4775 [TaniumIntel] Add TANIUM_INTEL_DEPLOY_INTEL configuration
  stream/tanium-intel/README.md
  stream/tanium-intel/docker-compose.yml
  stream/tanium-intel/src/config.yml.sample
  stream/tanium-intel/src/tanium_intel_connector/api_handler.py
  stream/tanium-intel/src/tanium_intel_connector/config_variables.py
Labels: filigran team, filigran support

#4767 [CircleCI] build_manifest on diff with origin/master instead forked master in PR
  shared/tools/composer/generate_connectors_config_json_schemas.sh
Labels: filigran team

#4580 Add export-file-html
  internal-export-file/export-file-html/Dockerfile
  internal-export-file/export-file-html/README.md
  internal-export-file/export-file-html/docker-compose.yml
  internal-export-file/export-file-html/entrypoint.sh
  internal-export-file/export-file-html/requirements.txt
  internal-export-file/export-file-html/src/lib/internal_export.py
  internal-export-file/export-file-html/src/main.py
Labels: partner

#4825 [PGL-YoYo] Fix Dockerfile
  external-import/pgl-yoyo/Dockerfile
Labels: filigran team, critical, connector: pgl-yoyo

#4602 Correct URL for JOe
  internal-enrichment/joe-sandbox/README.md
Labels: filigran team, tmp: wait for merge

#4487 [LIA File Feed] Correcting type for parameter x_opencti_main_observable_type
  .gitignore
  external-import/lia-file-feed/src/main.py
Labels: community, connector: lia file feed

#4424 [ctibutler] fix renamed paths, add new knowledgebase
  external-import/dogesec-ctibutler/src/connector.py
Labels: community, connector: CTI Butler, tmp: wait for merge

#4785 [GithubAction] Auto assign PR on creation
  .github/workflows/auto-author-assign.yml
Labels: filigran team, tmp: wait for merge

#4829 [CVE] Fixing API key header to follow NIST documentation
  external-import/cpe/src/connector.py
Labels: community

#4491 [crowdstrike] set the default to ignore password and username types
  external-import/crowdstrike/docker-compose.yml
Labels: connector: crowdstrike

#4811 [Google TI] Fix CVE label #4810
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_vulnerabilities/gti_vulnerability_to_stix_note.py
Labels: filigran team, connector: google threat intel

#4812 [Google TI] Fix increment number in work description #4810
  external-import/google-ti-feeds/connector/src/custom/client_api/client_api_base.py
  external-import/google-ti-feeds/connector/src/custom/configs/campaign/batch_processor_config_campaign.py
  external-import/google-ti-feeds/connector/src/custom/configs/report/batch_processor_config_report.py
  external-import/google-ti-feeds/connector/src/custom/configs/vulnerability/batch_processor_config_vulnerability.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/base_orchestrator.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/campaign/orchestrator_campaign.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/malware/orchestrator_malware.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/report/orchestrator_report.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/threat_actor/orchestrator_threat_actor.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/vulnerability/orchestrator_vulnerability.py
Labels: filigran team, connector: google threat intel

#4815 [Google TI] Add warning about the aliases being disable. #4810
  external-import/google-ti-feeds/README.md
Labels: filigran team, connector: google threat intel

#4814 [Google TI] Improvement for victimology relationship #4810
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_campaigns/gti_campaign_to_stix_composite.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_campaigns/gti_campaign_to_stix_identity.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_campaigns/gti_campaign_to_stix_location.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_malwares/gti_malware_family_to_stix_composite.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_malwares/gti_malware_family_to_stix_identity.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_malwares/gti_malware_family_to_stix_location.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_threat_actors/gti_threat_actor_to_stix_composite.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_threat_actors/gti_threat_actor_to_stix_identity.py
  external-import/google-ti-feeds/connector/src/custom/mappers/gti_threat_actors/gti_threat_actor_to_stix_location.py
  external-import/google-ti-feeds/connector/src/custom/models/gti/gti_campaign_model.py
  external-import/google-ti-feeds/tests/custom/debug_responses/main_campaigns_e3b0c44298fc1c14.json
  external-import/google-ti-feeds/tests/custom/mappers/gti_campaigns/test_gti_campaign_to_stix_identity.py
  external-import/google-ti-feeds/tests/custom/mappers/gti_campaigns/test_gti_campaign_to_stix_location.py
  external-import/google-ti-feeds/tests/custom/mappers/gti_malwares/test_gti_malware_family_to_stix_identity.py
  external-import/google-ti-feeds/tests/custom/mappers/gti_threat_actors/test_gti_threat_actor_to_stix_identity.py
  external-import/google-ti-feeds/tests/custom/test_orchestrator.py
Labels: filigran team, connector: google threat intel

#4816 [Google TI] fix disable campaign fetch as related #4810
  external-import/google-ti-feeds/connector/src/custom/configs/campaign/gti_config_campaign.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/malware/orchestrator_malware.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/threat_actor/orchestrator_threat_actor.py
  external-import/google-ti-feeds/connector/src/custom/orchestrators/vulnerability/orchestrator_vulnerability.py
  external-import/google-ti-feeds/tests/custom/test_orchestrator.py
Labels: filigran team, connector: google threat intel

#4856 [Google TI] Fix pydantic for catalog integration
  external-import/google-ti-feeds/connector/src/custom/configs/gti_config_common.py
  external-import/google-ti-feeds/tests/custom/configs/test_gti_config.py
  external-import/google-ti-feeds/tests/custom/test_orchestrator.py
Labels: filigran team, connector: google threat intel

#4860 [MispIntel] Fix configuration defaults to be None on empty env var
  stream/misp-intel/src/config.yml.sample
  stream/misp-intel/src/models/configs/base_settings.py
  stream/misp-intel/src/models/configs/config_loader.py
  stream/misp-intel/src/models/configs/misp_configs.py
Labels: bug, filigran team

#4702 [importdoc] fix check for file (if in a draft, file_id starts with draft/{draft_id}/import/global)
  internal-import-file/import-document-ai/src/reportimporter/core.py
  internal-import-file/import-document/src/reportimporter/core.py
Labels: filigran team
